html {
	scroll-behavior: smooth;
}

body {
        font-family: 'Nunito','Arial', sans-serif;
      }

.navbar {
	background-color: #2C3E50 !important;
	font-size: 1.5rem;
}

.navbar .navbar-brand{
	font-size: 1.5rem;
}

.jumbotron {
	min-height: 100vh;
	text-align: center;
	padding-top: 75px;
	background-color: #18BC9C;
	color: white;
}

.jumbotron .display-4 {
	font-family: 'Cairo','Arial',sans-serif;
	font-size: 2.5rem;
	font-weight: 700;
}

.jumbotron .lead {
	font-size: 1.5rem;
}

.foto {
	border-radius: 50%;
	height: 300px;
}

section {
	min-height: 575px;
}

section hr {
	width: 250px;
	border-top: 3px solid black;
	border-color: #2C3E50;
}

section h2 {
	color: #2C3E50;
	font-weight: bolder;
}

.about p {
	text-align: center;
}

.about {
	background-color: #18BC9C;
	color: white;
	font-size: 1.25rem;
}

.about h2 {
	color: white;
}

.about hr {
	border-color: white;
}

.bg-ijo {
	background-color: #18BC9C;
	border-color:  #18BC9C;
}

.bg-ijo:hover {
	background-color: #10A084;
	border-color:  #18BC9C
}

.bg-ijo:active {
	background-color: #10A084;
	border-color:  #18BC9C
}

.ijo {
	color: #FFFFFF;
}

.portofolio-link {
	color: inherit;
	text-decoration: none;
}

.portofolio-link:hover {
	color: inherit;
	text-decoration: none;
	box-shadow: 9px 9px 12px -1px rgba(0,0,0,0.29);
	-webkit-box-shadow: 9px 9px 12px -1px rgba(0,0,0,0.29);
	-moz-box-shadow: 9px 9px 12px -1px rgba(0,0,0,0.29);
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	/* .foto {
		height: 200px;
	} */

	.jumbotron .display-4 {
	font-size: 3.5rem ;
	}
	
	.about p {
		text-align: justify;
	}
}