---
---
<footer>
    <p>
        Built with
        <i style="color: rgb(189, 74, 74)" class="fa-solid fa-heart"></i> by Yusuf
        Sugiono. <br />
        Design inspired by
        <a href="https://dribbble.com/NicolasMzrd" target="_blank">Nicolas Meuzard</a>
        and <a href="https://sarahdayan.dev" target="_blank">Sarah Dayan</a>.
    </p>
</footer>
