<header>
  <p class="header__before_name">Hi, I'm</p>
  <h1 class="header__name">Yusuf Sugiono</h1>
  <p class="header__headline">Full-stack Web Developer</p>
  <p class="header__about">
    A Lifelong learner. Enthusiastic in learning technology, especially on web
    development, also machine learning and cloud computing.
  </p>
  <nav class="header__nav">
    <ul>
      <li id="link_to_portfolio">
        <a href="#section__portfolio">PORTFOLIO PROJECTS</a>
      </li>
      <!-- <li id="link_to_blogpost"><a href="#section__blogpost">BLOG</a></li> -->
      <li id="link_to_contact">
        <a href="#section__contact_me">CONTACT ME</a>
      </li>
    </ul>
  </nav>
  <section class="header__contacts">
    <img
      src="/profile_48x48.jpg"
      alt="Profile"
      class="header__profile_picture"
    />
    <a
      target="_blank"
      href="https://www.linkedin.com/in/yusuf-sugiono-04b613185/"
      ><i class="fa-brands fa-linkedin"></i> LinkedIn</a
    >
    <a target="_blank" href="http://github.com/yusufsugiono"
      ><i class="fa-brands fa-github"></i> GitHub</a
    >
  </section>
</header>
